.form-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: blue;
    width: 500px;
    margin: 0 auto;
    border-radius: 10px;
}
.form {
    margin: 20px;
}
.texto-login {
    margin-bottom: 20px;
    color: lightblue;
}
.errado {
    border: 2px solid red;
}
.correto {
    border: 2px solid greenyellow;
}

